@media (max-width: 1200px) {
    .carousel {
        padding: 80px 20px;
        .prev, .next {
            display: none;
        }
    }
}
@media (max-width: 991px) {
    .consultation {
        padding: 90px 20px 80px 20px;
    }
    .container {
        max-width: 800px;
    }
    .promo {
        padding: 16px 15px 80px 15px;
        background: url(../img/bg991.jpg) center (center/cover) no-repeat;
    }
    .benefit {
        padding: 70px 10px 64px 10px;
        &__text {
            width: 230px;
        }
        &__icon {
            margin-right: 6px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }
    .reviews {
        &__wrapper {
            padding: 0 20px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        .header {
            &__phone {
                font-size: 16px;
            }
        }
        padding: 16px 15px 80px 15px;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__icons {
            width: 360px;
        }
        .button_main {
            width: 250px;
            font-size: 14px;
        }
    }
    .benefit {
        &__icons {
            display: block;
        }
        &__text {
            width: 50%;
            margin: 0 auto;
            margin-top: 10px;
        }
        img {
            margin-top: 10px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 55px;
        }
        &__tab {
            margin-top: 15px;
            height: auto;
        }
    }
    .reviews {
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            margin-right: 0;
        }
        &__text {
            text-align: center;
            padding: 0 40px;
        }
    }
    .footer {
        &__info {
            position: relative;
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .button {
        &:hover {
            box-shadow: none;
        }
    }
    .footer {
        &__social-item {
            &:hover {
                box-shadow: none;
            }
        }
    }
    .benefit {
        &__icon {
            &:hover .benefit__subheader{
                border: none;
                color: black;
                font-size: 18px;
            }
            &:hover .benefit__text {
                font-size: 14px;
            }
        }
    }
    .header {
        flex-direction: column;
        &__official {
            margin-top: 10px;
            font-size: 14px;
        }
            span {
                font-size: 19px;
            }
        &__contacts {
            margin-top: 35px;
            align-items: center;
        }
        .button {
            margin: 0 auto;
            width: 170px;
            height: 40px;
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            text-align: center;
        }
        &__wrapper {
            align-items: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 300px;
            display: block;
            margin-top: 15px;
        }
        &__icon {
            margin: 0 auto;
            margin-bottom: 10px;
            &:hover {
                color: #fff;
            }
            &:nth-child(3) {
                margin-bottom: 0;
            }
        }
        .button_main {
            width: 200px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 32px;
            }
        }
        .feed-form {
            width: 280px;
        }
    }
    .reviews {
        &__text {
            padding: 0;
        }
    }
}