.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #0D0D0D;
    text-transform: uppercase;
    padding: 0 10px;
    &_left {
        color: #FFFFFF;
        font-size: 36px;
        text-align: left;
    }
}